.badge-red{  
    background-color: #F9E7E8;
    color: #AE1E22;
}


.badge-blue{
    background-color: #E8F1F9;
    color: #1868AB;
}

.badge-green{
    background-color: #E6F6EA;
    color: #00AB4E;
}

.badge-orange{
    background-color: #FBF2E9;
    color: #E07E26;
}

